*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow:visible;
}
body{
    background-color:#bdc3c7;
}
.heading-section{
    margin-top:10px;
    height:10vh;
    background-color:#000;
    text-align: center;
    color:#fff;
    font-size:3.3rem;
    font-family:fantasy;
}

.main-section{
    height:55vh;
    width:70%;
    position: relative;
    top:60px;
    left:15%;
    background:#6fb3e0;
    box-shadow: 0 0 10px black;
    border-radius: 20px;
}
.main-section .section-heading{
    background-color:#2ecc71;
    color:white;
    padding-block:5px;
    text-align: center;
    font-size: 2rem;
    text-transform: capitalize;
}

.form-section{
    text-align: center;
    margin-top:40px;
}
.form-section div input{
    width:50%;
    margin-bottom:25px;
    padding:9px 25px;
    font-size: 1rem;
    outline: none;
    border: none;
    transition: .5s;
}
.form-section div input[type="submit"]{
    padding:9px 50px;
    margin-bottom: 25px;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    background-color:green;
    color:white;
    transition: .5s;
}
.main-section .result-section{
    padding-block:5px;
    text-transform: capitalize;
    font-size: 1.5rem;
    color:blue;
}
.form-section div input:focus{
    box-shadow: 0 0 10px rgb(173, 115, 227);
}
.form-section div button:hover{
    background-color: rgb(40, 185, 40);
}

.footer-section{
    margin-top:217px;
    background-color: #000;
    color:#fff;
    text-align: center;
    height:10vh;
    font-size:1.5rem;
}
.footer-section p{
    padding-top:20px;
    text-transform: capitalize;
}




@media screen and (max-width:1000px){
    .heading-section{
        font-size:2.5rem;
        padding-top:8px;
    }
    .form-section div input{
        width:75%;
    }
}

@media screen and (max-width:550px){
    .main-section{
        width:80%;
        left:10%;
    }
}


